html, body {
  height: 100%;
}

section {
	overflow:auto;
  min-height: 90%;
	padding: 60px 0 0 0; 
	margin-bottom: 100px;
}

#menu{
	margin-left: -2%;
}

a {
  color: #0a161c;
}

footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding:2.5% 0;
  background-color: #0a161c;
  color: #4d5c63;
}
