extends dash_user

block content
	.col-md-9
		+panel-default("Examenes Realizados")
			.table-responsive
				table#tblExamen.table.table-hover
					thead
						tr
							th Fecha de toma de muestra
							th Tipo de Muestra
							th Estado
							th Adjunto
					tbody
						each examen in examenes
							tr
								td=examen.fechaMuestra
								td=examen.tipoMuestra
								td=examen.estado
								td 
									if(examen.estado == "Listo")
										a(href="#") Ver Adjunto

append scripts
	script.
		$(document).ready( function () {
			$('#tblExamen').DataTable();
		} );
