extends dash_lab

block content
	.col-md-9
		+panel-default("Busqueda de Muestra")
			.panel-body
				form.form-inline(data-toggle='validator', role='form')
					.form-group.col-md-12
						label.col-md-3.control-label(for='inputBusqueda') Criterio de Busqueda:
						input#inputBusqueda.form-control.col-md-4.required(type='text', maxlength='30')
						button#btnBuscar.btn.btn-default(type='button')
							span.glyphicon.glyphicon-search(aria-hidden='true')
		+panel-default("Resultados de Busqueda")
			.panel-body
				.table-responsive
					table#tblMuestras.table.table-hover
						thead
							tr
								th Codigo
								th Fecha Toma Muestra
								th Tipo de Muestra
								th Paciente
								th Notificar
						tbody
							each examen in examenes
								tr
									td codigo
									td=examen.fechaMuestra
									td=examen.tipoMuestra
									td paciente de muestra
									td 
										button.btnNotificar.btn(type="button",data-toggle="modal",data-target="#resultado") Ingresar Resultado
		#resultado.modal.fade(tabindex="-1",role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Ingreso de Resultados de Examen
					.modal-body
						label Examen 1
						+table-condensed(["Parámetro","Resultados", "Unidades","Valores de Referencia"],[])
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Descartar
						button.btn.btn-default(type='button', data-dismiss='modal') Guardar
append scripts
	script.
		$(document).ready( function () {
			$('#tblMuestras').DataTable();
		} );
