extends dash_lab

block content
	.col-md-9
		+panel-default("Muestras")
			.panel-body
				.table-responsive
					table#tblMuestras.table.table-hover
						thead
							tr
								th Codigo
								th Fecha Toma Muestra
								th Tipo de Muestra
								th Paciente
								th Resultados
						tbody
							tr
								td codigo
								td 08/06/2016
								td Sangre
								td 1721989364
								td 
									button.btnIngresar.btn(type="button",data-toggle="modal",data-target="#resultado") Ingresar Resultado
							tr
								td codigo
								td 08/07/2016
								td Heces
								td 1721989364
								td 
									button.btnIngresar.btn(type="button",data-toggle="modal",data-target="#resultado") Ingresar Resultado
							tr
								td codigo
								td 08/08/2016
								td Orina
								td 1721989364
								td 
									button.btnIngresar.btn(type="button",data-toggle="modal",data-target="#resultado") Ingresar Resultado

							if examenes
								each examen in examenes
									tr
										td codigo
										td=examen.fechaMuestra
										td=examen.tipoMuestra
										td paciente de muestra
										td 
											button.btnIngresar.btn(type="button",data-toggle="modal",data-target="#resultado") Ingresar Resultado
		#resultado.modal.fade(tabindex="-1",role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Ingreso de Resultados de Examen
					.modal-body
						p#codigoMuestra.hide
						p#Muestra.hide
						#resultados
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Descartar
						button#btnGuardarResult.btn.btn-default(type='submit') Guardar
append scripts
	script
		include ../../public/javascripts/labResultados.js
