extends dash_lab

block content
	.col-md-9
		+panel-default("Busqueda de Muestra")
			.panel-body
				form.form-inline(data-toggle='validator', role='form')
					.form-group.col-md-12
						label.col-md-3.control-label(for='inputBusqueda') Criterio de Busqueda:
						input#inputBusqueda.form-control.col-md-4.required(type='text', maxlength='30')
						button#btnBuscar.btn.btn-default(type='button')
							span.glyphicon.glyphicon-search(aria-hidden='true')
		+panel-default("Resultados de Busqueda")
			.panel-body
				.table-responsive
				table#tblMuestras.table.table-hover
					thead
						tr
							th Seleccion
							th Codigo
							th Fecha Toma Muestra
							th Tipo de Muestra
							th Paciente
							th Notificar
					tbody
						each examen in examenes
							tr
								td 
									input(type='checkbox', value='')
								td codigo
								td=examen.fechaMuestra
								td=examen.tipoMuestra
								td paciente de muestra
								td 
									button.btnNotificar.btn(type="button",data-toggle="modal",data-target="#notificacion") Notificar
			button#btnRecibido.col-md-4.col-md-offset-4.btn(data-toggle="modal",data-target="#alerta") Recibido
		#alerta.modal.fade(tabindex="-1",role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Alerta
					.modal-body
						p Si da click en Aceptar, confirma el recibo de las muestras seleccionadas y el estado de ellas será "En espera".
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
						button.btn.btn-default(type='button', data-dismiss='modal') Aceptar
		#notificacion.modal.fade(tabindex="-1",role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Crear Notificación
					.modal-body
						.form-group
							label(for='comment') Razón:
							textarea#comment.form-control(rows='3')
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
						button.btn.btn-default(type='button', data-dismiss='modal') Notificar
append scripts
	script.
		$(document).ready( function () {
			$('#tblMuestras').DataTable();
		} );
