extends dash_lab

block content
	.col-md-9
		+panel-default("Muestras")
			.panel-body
				.table-responsive
					table#tblMuestras.table.table-hover
						thead
							tr
								th Seleccion
								th Codigo
								th Fecha Toma Muestra
								th Tipo de Muestra
								th Paciente
								th Notificar
						tbody
							each examen in examenes
								tr
									td 
										input(type='checkbox', value='')
									td codigo
									td=examen.fechaMuestra
									td=examen.tipoMuestra
									td paciente de muestra
									td 
										button.btnNotificar.btn(type="button") Notificar
			button#btnRecibido.col-md-4.col-md-offset-4.btn(type="button") Recibido
append scripts
	script
		include ../../public/javascripts/laboratorista.js