extend dash_operario

block content 
	.col-md-9
		+panel-default("Busqueda de Muestra")
			.panel-body
				form.form-inline(data-toggle='validator', role='form')
					.form-group.col-md-8
						label.col-md-3.control-label(for='inputBusqueda') Criterio de Busqueda:
						input#inputBusqueda.form-control.col-md-4.required(type='text', maxlength='30')
						button#btnBuscar.btn.btn-default(type='button')
							span.glyphicon.glyphicon-search(aria-hidden='true')
					button#btnNuevo.col-md-4.btn(type="button",data-toggle="modal",data-target="#nuevoPaciente") Agregar Paciente
		#nuevoPaciente.modal.fade(tabindex="-1",role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Registrar Paciente
					.modal-body
						form#form-agregar(action='/operario/pacientes/crearNuevo', method='get')
							.form-group.form-inline
								label.col-md-3.control-label(for='inputNombre') Nombres:
								input#inputNombre.form-control.required(type='text', maxlength='30')
							.form-group.form-inline
								label.col-md-3.control-label(for='inputApellidos') Apellidos:
								input#inputApellidos.form-control.required(type='text', maxlength='30')
							.form-group.form-inline
								label.col-md-3.control-label(for='inputCedula') Cédula:
								input#inputCedula.form-control.required(type='text', maxlength='10', minlength='10')
							.form-group.form-inline
								label.col-md-3.control-label(for='inputEmail') Correo Electrónico:
								input#inputEmail.form-control.required(type='email', maxlength='10', minlength='10')
							button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
							button.btn.btn-default(type='submit',form='#form-agregar', data-dismiss='modal') Registrar
					.modal-footer
						//button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
						//button.btn.btn-default(type='submit',form='#form-agregar', data-dismiss='modal') Registrar
		+panel-default("Resultados de Busqueda")
			.panel-body
				+table-condensed(["Selección","Nombres","Apellidos", "Cedula","Correo Electrónico", "Editar"],[])
			button#btnEliminar.col-md-4.col-md-offset-4.btn(data-toggle="modal",data-target="#alerta") Eliminar
		#alerta.modal.fade(tabindex="-1",role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Alerta
					.modal-body
						¿Está seguro que desea eliminar los pacientes seleccionados? Si procede se eliminará la información de ellos del sistema.
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
						button.btn.btn-default(type='button', data-dismiss='modal') Aceptar
		