extend dash_operario

block content 
	.col-md-9
		+panel-default("Informacion de Paciente")
			.panel-body
				form.form-inline
					.form-group.col-md-6
						label.col-md-3.control-label(for='nombrePaciente') Nombre:
						input#nombrePaciente.col-md-3.form-control(type='text', readonly='')
					.form-group.col-md-6
						label.col-md-3.control-label(for='apellidoPaciente') Apellido:
						input#apellidoPaciente.col-md-3.form-control(type='text', readonly='')
		+panel-default("Informacion de Muestra")
			.panel-body
				form
					.form-group.form-inline
						.form-group.col-md-6
							label.col-md-3.control-label(for='centromed') Centro Médico:
							select#centromed.col-md-3.form-control
						.form-group.col-md-6
							label.col-md-3.control-label(for='muestras') Tipo de Muestra:
							select#muestras.col-md-3.form-control
								option Sangre
								option Heces
								option Orina
						.form-group.col-md-6
							label.col-md-3.control-label(for='fechaMuestra') Fecha Toma Muestra:
							input#fechaMuestra.col-md-3.form-control(type='text', required='')
					.form-group.form-inline.col-md-12
						label.col-md-3.control-label Exámenes a realizar:
						table#tblExamen
							.row
								th Seleccion
								th Tipo de Examen
					.form-group.form-inline.col-md-6
						label.col-md-3.control-label(for='laboratorio') Laboratorio:
						select#laboratorio.col-md-3.form-control
		button#btnDescartar.col-md-3.btn(type='button') Descartar
		button#btnGuardar.col-md-3.btn(type='submit') Guardar
append scripts
	script
		include ../../public/javascripts/operario.js
