extends ../dash_layout

block content
    .col-md-4.col-md-offset-4
        h1 Sign in
        if hasErrors
            .alert.alert-danger
                each msg in messages
                    p= msg
        form(action='/user/signin', method='post')
            .form-group
                label(for='email')  E-mail
                input#email.form-control(type='text', name='email')
            .form-group
                label(for='password') Password
                input#password.form-control(type='password', name='password')
                input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
                select.form-control(id='selectRol', name='rol')
                    option(value='cliente') Cliente
                    option(value='operario') Operario
                    option(value='laboratorista') Laboratorista
                button.btn.btn-primary(type='submit') Sign in
block list
    li
        a(href='/user/signup')
            span.glyphicon.glyphicon-pencil(aria-hidden='true')
            |  Registrar

//handlebar engine, cambiar a jade
    <div class = "row">
    <div class= "col-md-4 col-md-offset-4">
    <h1>Sign in</h1>
    {{#if hasErrors}}
        <div class="alert alert-danger">
    {{#each messages}}

        <p>{{this}}</p>
    {{/each}}
        </div>
    {{/if}}
        <form action="/user/signin" method="post">
        <div class="form-group">
        <label for="email"> E-mail</label>
        <input type="text" id="email" name="email" class="form-control">
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control">
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
    </div>
